---

- name: download go-carbon binary to local folder
  become: false
  get_url:
    url: "https://github.com/lomik/go-carbon/releases/download/v{{ go_carbon_version }}/{{ go_carbon_artefact }}"
    dest: "/tmp/{{ go_carbon_artefact }}"
  register: _download_archive
  until: _download_archive is succeeded
  retries: 5
  delay: 2
  delegate_to: localhost
  check_mode: false

- name: propagate go-carbon package
  copy:
    src: "/tmp/{{ go_carbon_artefact }}"
    dest: /tmp
    mode: 0755
    owner: root
    group: root

- name: set force install
  set_fact:
    force_install: "{{ false
      if go_carbon_installed_version.changed
      else go_carbon_installed_version.stdout is version(go_carbon_version |
      regex_replace('^v',''), '>') }}"  # noqa 204

- name: install go-carbon package for debian based systems
  apt:
    deb: "/tmp/{{ go_carbon_artefact }}"
    force: "{{ force_install | bool }}"
  when: ( go_carbon_should_install and
    ansible_os_family | lower == 'debian')

- name: install go-carbon package for redhat based systems
  yum:
    name: "/tmp/{{ go_carbon_artefact }}"
    allow_downgrade: "{{ force_install | bool }}"
  when: ( go_carbon_should_install and
    ansible_os_family | lower == 'redhat')

- name: ensure cron daemon is installed
  package:
    name: "{{ go_carbon_used_cron_daemon }}"
    state: present
  when: go_carbon_used_cron_daemon is defined and go_carbon_used_cron_daemon | length != 0

- name: install script to clean whisper data
  template:
    src: clean-whisper-data.sh.j2
    dest: /usr/local/bin/clean-whisper-data.sh
    mode: 0750

- name: remove clean-whisper script 2/m for  cron
  cron:
    name: "clean whisper data"
    user: root
    cron_file: clean_whisper_data
    state: absent
  when: not go_carbon_clean_data_enabled

- name: configure clean-whisper script 2/m with cron
  cron:
    name: "clean whisper data"
    minute: '0'
    hour: '23'
    day: 2,16
    user: root
    job: /usr/local/bin/clean-whisper-data.sh
    cron_file: clean_whisper_data
  when: go_carbon_clean_data_enabled
