#
# http://m30m.github.io/whisper-calculator/
#

[carbon]
# 1 Host and 1 Metric produce: 793.20 Kilobytes
#
pattern = ^carbon\.
retentions = 10s:24h,30s:4d,1m:21d,5m:40d,15m:60d

[collectd]
# 1 Host and 1 Metric produce: 860.69 Kilobytes
#
pattern = ^collectd\.
retentions = 10s:2d,30s:7d,1m:21d,1h:240d

[telegraf]
# 1 Host and 1 Metric produce: 105.51 Kilobytes
#
pattern = ^telegraf\.
retentions = 10s:2d,1m:6h,5m:30d

[grafana]
# 1 Host and 1 Metric produce: 556.94 Kilobytes
#
pattern = ^grafana\.
retentions = 1m:15d,5m:30d,15m:120d,1h:240d

[icinga2]
# 1 Host and 1 Metric produce: 556.94 Kilobytes
#
pattern = ^icinga2\.
retentions = 1m:15d,5m:30d,15m:120d,1h:240d

[default]
# 1 Host and 1 Metric produce: 826.94 Kilobytes
#
pattern = .*
retentions = 10s:2d,30s:7d,1m:21d,1h:120d
