# {{ ansible_managed }}

{% if go_carbon_storage_aggregations is defined and go_carbon_storage_aggregations | count != 0 -%}
{% for key  in go_carbon_storage_aggregations -%}
[{{ key }}]
{% for k, v in go_carbon_storage_aggregations[key].items() -%}
{{ k }} = {{ v }}
{% endfor %}

{% endfor %}
{% endif %}
