# {{ ansible_managed }}
#
# http://m30m.github.io/whisper-calculator/

{% if go_carbon_storage_schemas is defined and go_carbon_storage_schemas | count != 0 -%}
{% for key  in go_carbon_storage_schemas -%}
[{{ key }}]
{% for k, v in go_carbon_storage_schemas[key].items() -%}
{{ "%-10s" | format(k,) }} = {{ v }}
{% endfor %}

{% endfor %}
{% endif %}

[default]
# 1 Host and 1 Metric produce: 826.94 Kilobytes
#
pattern = .*
retentions = 10s:2d,30s:7d,1m:21d,1h:120d
